* {
    font-family: cursive;
     text-align: center;
     justify-content: center
}

h1{
    text-align: center;
    width:100%
}
h4,li{
    text-align: start;
    justify-content: start;
}
section {
    border-radius: 5vh;
    background-color: grayscale($color: #ff8383);
    height: auto;
    display: grid;
    justify-content: center;
    text-align: center  ;
}
label, input {
    display: center;
    margin-top:0.5vh;
    width:200px;
    margin-bottom:1vh;
}

button{
    background-color: rgb(43, 98, 226);
    color: white; 
    border-color: rgb(165, 162, 255);
    height:4vh; 
    width:50%; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: width 2s, height 2s, transform 2s;

}

form {
    justify-content: center;
    text-align: center;
}